# OSI Lat Long
### This Notebook uses the XY of the point featureclass and adds Lat Long to each related row in a related table. The FeederID (aka Circuit Number) is also determined for Electric features.
A CSV file is generated that will be used to support a seperate project.

The second half of the Notebook explores the electric consumption data with a [SpatialDataFrame](https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.features.toc.html?highlight=spatialdataframe#spatialdataframe) using the customers table modifed in the first half.

W/WW notes: needs GloabID in customer account tables

In [30]:
#import arcpy
import numpy as np
import pandas as pd

In [16]:
gdb = "C:/Users/friendde/Documents/ArcGIS/Projects/OSILatLong/OSILatLong.gdb"
omsRegion = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eRegion"
sourceGDBList = ["C:/GISData/Data/Snapshot/mxElectric.geodatabase/","C:/GISData/Data/Snapshot/mxGas.geodatabase/",
                 "C:/arcdata/WWW_Extract.gdb/"]
esvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint"
gsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet"
rsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint"
wsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint"
svcPntDestList = [esvcPntDest,gsvcPntDest,rsvcPntDest,wsvcPntDest]

#svcPntDict = {esvcPntSource:esvcPntDest,gsvcPntSource:gsvcPntDest,rsvcPntSource:rsvcPntDest,wsvcPntSource:wsvcPntDest}

ecustAcctSource = r"C:\GISData\Data\Snapshot\mxElectric.geodatabase\main.eCUSTOMERACCOUNT"
gcustAcctSource = r"C:\GISData\Data\Snapshot\mxGas.geodatabase\main.gCUSTOMERACCOUNT"
rcustAcctSource = r"C:\arcdata\WWW_Extract.gdb\rCustomerAccount"
wcustAcctSource = r"C:\arcdata\WWW_Extract.gdb\wCustomerAccount"
custAcctSourceList = [ecustAcctSource,gcustAcctSource,rcustAcctSource,wcustAcctSource]

ecustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eCUSTOMERACCOUNT"
gcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gCUSTOMERACCOUNT"
rcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rCUSTOMERACCOUNT"
wcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\wCUSTOMERACCOUNT"
custAcctDestList = [ecustAcctDest,gcustAcctDest,rcustAcctDest,wcustAcctDest]

custAcctDict = {ecustAcctSource:ecustAcctDest,gcustAcctSource:gcustAcctDest,rcustAcctSource:rcustAcctDest,wcustAcctSource:wcustAcctDest}

electFields = ["PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
svcPntDestFlds = ["OID@","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAcctDestFlds = ["SERVICEPOINTOBJECTID","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAcctOutFlds = ["OID@","SvcPntOID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAnalysis = ["SERVICEPOINTOBJECTID","INSTALL_NUM","POINT_X","POINT_Y","AVGCONSUMPTION","MAXCONSUMPTION"]
custLocations = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\CustomerLocations"
custAcctFile = r'C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\GISAll.csv'

regions = ['SE', 'SW Main St to 34 St', 'NW Main St to 34 St', 'SW west of I-75', 'SW 34 St to I-75', 'NW west of I-75', 'NW to 39 Ave, 34 Ave to I-75', 'NW north of 39 Ave', 'NE']
expression = "updateRegion(region)"
codeblock = """
def updateRegion(name):
    return str(name)"""

#### Phase Translation between ArcFM and OSI
| Phase | ArcFM | OSI |
|-------|-------|-----|
|   A   |   4   |  1  ||
|   B   |   2   |  2  |
|   C   |   1   |  3  |
|   AB  |   6   |  12 |
|   AC  |   5   |  13 |
|   BC  |   3   |  23 |
|   ABC |   7   |  123|

In [3]:
# convert ArcFM Phase to OSI Phase
def getPhaseDesignation(phaseDesignation):
        if phaseDesignation is None:
                ph = 0
                return ph
        if phaseDesignation == 1:
                ph = 3
                return ph
        if phaseDesignation == 2:
                ph = 2
                return ph
        if phaseDesignation == 3:
                ph = 23
                return ph
        if phaseDesignation == 4:
                ph = 1
                return ph
        if phaseDesignation == 5:
                ph = 13
                return ph
        if phaseDesignation == 6:
                ph = 12
                return ph
        if phaseDesignation == 7:
                ph = 123
                return ph
def gettxOID(txOID):
        if txOID is None:
                txOID = 0
                return txOID
        else:
            return txOID
def gettxGUID(txGUID):
        if txGUID is None:
            return 0
        else:
            return txGUID

def replaceChar(strReplace):
    replaceList = [' ',',','-']
    for r in replaceList:
        if r in (strReplace):
            strReplace = strReplace.replace(r,'')

    return strReplace

def listReplace(lst, _from, _to):
   return([_to if v == _from else v for v in lst])

In [4]:
arcpy.env.workspace = gdb
arcpy.env.overwriteOutput = True
arcpy.env.outputCoordinateSystem = arcpy.SpatialReference(4326)

In [5]:
# delete all existing tables in workspace, new tables are created or copied in
fdsList = arcpy.ListDatasets()
for fds in fdsList:
    print(f'Deleting {fds}')
    arcpy.Delete_management(fds)
tblList = arcpy.ListTables()
for tbl in tblList:
    print(f'Deleting {tbl}')
    arcpy.Delete_management(tbl)
fcsList = arcpy.ListFeatureClasses()
for fcs in fcsList:
    if fcs == 'eRegion':
        pass
    else:
        print(f'Deleting {fcs}')
        arcpy.Delete_management(fcs)

Electric
Gas
Reclaimed
Water
eCUSTOMERACCOUNT
SAP_INSTALLATION
gCUSTOMERACCOUNT
rCUSTOMERACCOUNT
wCUSTOMERACCOUNT
Deleting SE
Deleting SWMainStto34St
Deleting NWMainStto34St
Deleting SWwestofI75
Deleting SW34SttoI75
Deleting NWwestofI75
Deleting NWto39Ave34AvetoI75
Deleting NWnorthof39Ave
Deleting NE

In [6]:
# copy in custAcctDict customer tables into workspace
# add fields not normaly in customer tables
for k,v in custAcctDict.items():
    print(f'Copying {k} to {v}')
    arcpy.Copy_management(k,v)
    if arcpy.Exists(v):
        #print(f'Copy Success {v}')
        #field_names = [f.name for f in arcpy.ListFields(v)]
        arcpy.AddField_management(v, "POINT_X", "DOUBLE")
        arcpy.AddField_management(v, "POINT_Y", "DOUBLE")
        arcpy.AddField_management(v, "PHASEDESIGNATION", "LONG")
        arcpy.AddField_management(v, "SERVICEPOINTOBJECTID", "LONG")
        arcpy.AddField_management(v, "Utility", "TEXT")
        arcpy.AddField_management(v, "FeederID", "TEXT")
        arcpy.AddField_management(v, "TRANSFORMERBANKOBJECTID", "LONG")
        arcpy.AddField_management(v, "eTransformerBank_GLOBALID", "GUID")
        arcpy.AddField_management(v, "RegionName", "TEXT")
    else:
        print(f'Copy Failed! {v}')

Copying C:\GISData\Data\Snapshot\mxElectric.geodatabase\main.eCUSTOMERACCOUNT to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eCUSTOMERACCOUNT
Copying C:\GISData\Data\Snapshot\mxGas.geodatabase\main.gCUSTOMERACCOUNT to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gCUSTOMERACCOUNT
Copying C:\arcdata\WWW_Extract.gdb\rCustomerAccount to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rCUSTOMERACCOUNT
Copying C:\arcdata\WWW_Extract.gdb\wCustomerAccount to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\wCUSTOMERACCOUNT

import os
for fc in svcPntDestList:
    print(os.path.split(fc)[1:])

In [7]:
#Add Responder Region Name to Service Points (electric only for now)
try:
    arcpy.AddField_management(esvcPntDest, "RegionName", "TEXT")
    arcpy.MakeFeatureLayer_management(esvcPntDest,'eSvcPnt')
    for region in regions:
        with arcpy.da.SearchCursor(omsRegion,"RegionName") as sc:
            print(f"Current Region Name {region}")
            #desc = arcpy.da.Describe(omsRegion)
            #print(f"FIDSet {desc['FIDSet']}")
            regionName = replaceChar(region)
            #print(f"New Region Name {regionName}")
            arcpy.MakeFeatureLayer_management(omsRegion,regionName,f"RegionName = '{region}'")
            arcpy.CopyFeatures_management(regionName, gdb + f"/{regionName}")
            if arcpy.Exists(gdb + f"/{regionName}"):
                #print(f"found {regionName}")
                arcpy.SelectLayerByLocation_management('eSvcPnt',"",regionName)
                #result = arcpy.GetCount_management(gdb + "/" + regionName)
                #print(result)
                result = arcpy.GetCount_management('eSvcPnt')
                print(f"{result} meters are within {region}")
                #desc = arcpy.Describe('eSvcPnt')
                #print(desc['FIDSet'])
                #print(len(desc.FIDSet.split(";")))
                if int(result.getOutput(0)) > 0:
                    print(f'Adding {region} to {int(result.getOutput(0))} Service Points')
                    arcpy.CalculateField_management('eSvcPnt',"RegionName",expression,"PYTHON",codeblock)
except:
    print(arcpy.GetMessages(2))

Current Region Name SE
4351 meters are within SE
Adding SE to 4351 Service Points
Current Region Name SW Main St to 34 St
4837 meters are within SW Main St to 34 St
Adding SW Main St to 34 St to 4837 Service Points
Current Region Name NW Main St to 34 St
12014 meters are within NW Main St to 34 St
Adding NW Main St to 34 St to 12014 Service Points
Current Region Name SW west of I-75
10099 meters are within SW west of I-75
Adding SW west of I-75 to 10099 Service Points
Current Region Name SW 34 St to I-75
2638 meters are within SW 34 St to I-75
Adding SW 34 St to I-75 to 2638 Service Points
Current Region Name NW west of I-75
3469 meters are within NW west of I-75
Adding NW west of I-75 to 3469 Service Points
Current Region Name NW to 39 Ave, 34 Ave to I-75
6595 meters are within NW to 39 Ave, 34 Ave to I-75
Adding NW to 39 Ave, 34 Ave to I-75 to 6595 Service Points
Current Region Name NW north of 39 Ave
7665 meters are within NW north of 39 Ave
Adding NW north of 39 Ave to 7665 Service Points
Current Region Name NE
6076 meters are within NE
Adding NE to 6076 Service Points

In [18]:
# add XY coords and some electric fields to all service point features
for fc in svcPntDestList:
    if arcpy.Exists(fc):
        print(f'Adding XY to {fc}')
        arcpy.AddXY_management(fc)
        for electField in electFields:
            if len(arcpy.ListFields(fc, electField)):
                print(f'{electField} exists in {fc}')
                pass
            else:                
                print(f'Adding {electField} to {fc}')
                if electField in ["PHASEDESIGNATION","TRANSFORMERBANKOBJECTID"]:
                    arcpy.AddField_management(fc, electField, "LONG")
                elif electField == "eTransformerBank_GLOBALID":
                    arcpy.AddField_management(fc, electField, "GUID")
                else:
                    arcpy.AddField_management(fc, electField, "TEXT")

Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
PHASEDESIGNATION exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
FEEDERID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
TRANSFORMERBANKOBJECTID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
eTransformerBank_GLOBALID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
RegionName exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
PHASEDESIGNATION exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
FEEDERID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
TRANSFORMERBANKOBJECTID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
eTransformerBank_GLOBALID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
PHASEDESIGNATION exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
FEEDERID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
TRANSFORMERBANKOBJECTID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
eTransformerBank_GLOBALID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
PHASEDESIGNATION exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
FEEDERID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
TRANSFORMERBANKOBJECTID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
eTransformerBank_GLOBALID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint

In [10]:
#check for GlobalID before migrating relationship classes
for custAcctDest in custAcctDestList:
    fldList = [fld.name.upper() for fld in arcpy.Describe(custAcctDest).fields]
    #print(fldList)
    if "GLOBALID" not in fldList:
        print(f'Adding GlobalID to {custAcctDest}')
        arcpy.AddGlobalIDs_management(custAcctDest)

In [11]:
# convert ObjectID relationship to GlobalID relationship
rcList = [c.name for c in arcpy.Describe(gdb).children if c.datatype == "RelationshipClass"]
for rc in rcList:
    desc = arcpy.Describe(rc)
    print("%-25s %s" % ("Backward Path Label:", desc.backwardPathLabel))
    print("%-25s %s" % ("Cardinality:", desc.cardinality))
    print("%-25s %s" % ("Class key:", desc.classKey))
    print("%-25s %s" % ("Destination Class Names:", desc.destinationClassNames))
    print("%-25s %s" % ("Forward Path Label:", desc.forwardPathLabel)) 
    print("%-25s %s" % ("Is Attributed:", desc.isAttributed))
    print("%-25s %s" % ("Is Composite:", desc.isComposite)) 
    print("%-25s %s" % ("Is Reflexive:", desc.isReflexive))
    print("%-25s %s" % ("Key Type:", desc.keyType))
    print("%-25s %s" % ("Notification Direction:", desc.notification))
    print("%-25s %s" % ("Origin Class Names:", desc.originClassNames))
    print("\n")

Backward Path Label:      ServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['eCUSTOMERACCOUNT']
Forward Path Label:       Customer
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Forward
Origin Class Names:       ['eServicePoint']


Backward Path Label:      SAPInstallation
Cardinality:              OneToOne
Class key:                Undefined
Destination Class Names:  ['SAP_INSTALLATION']
Forward Path Label:       eCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['eCUSTOMERACCOUNT']


Backward Path Label:      MeterSet
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['gCUSTOMERACCOUNT']
Forward Path Label:       Customer
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['gMeterSet']


Backward Path Label:      ARCFM_WWW.rServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['rCUSTOMERACCOUNT']
Forward Path Label:       ARCFM_WWW.rCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['rServicePoint']


Backward Path Label:      ARCFM_WWW.ServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['wCUSTOMERACCOUNT']
Forward Path Label:       ARCFM_WWW.wCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['ServicePoint']

In [12]:
for rc in rcList:
    print(f'Migrating {rc}')
    arcpy.MigrateRelationshipClass_management(rc)

Migrating ServicePt_CustomerAcct
Migrating eCustomeraccount_SAPInstallation
Migrating gMeterSet_gCustomerAccount
Migrating RSERVICEPOINT_CUSTACCT
Migrating WSERVICEPOINT_CUSTACCT

In [49]:
edit = arcpy.da.Editor(gdb)
edit.startEditing(False, False)
edit.startOperation()

field_names = [f.name for f in arcpy.ListFields(gsvcPntDest)]
print(field_names)

In [50]:
for rc in rcList:
    desc = arcpy.Describe(rc)
    if desc.originClassNames[0] == "SAP_INSTALLATION":
        pass
    elif desc.destinationClassNames[0] == "SAP_INSTALLATION":
        pass
    else:
        custAcctFlds = []
        custAcctFlds = listReplace(custAcctDestFlds,"GLOBALID",f"{desc.originClassNames[0]}_GLOBALID")
        with arcpy.da.SearchCursor(desc.originClassNames[0],svcPntDestFlds) as svcpnts:
#["OID@","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
            print(f"Searching {desc.originClassNames[0]} and updating {desc.destinationClassNames[0]}")
            for svcpnt in svcpnts:
                whereClause = f"{desc.originClassNames[0]}_GLOBALID = '{svcpnt[1]}'"
                with arcpy.da.UpdateCursor(desc.destinationClassNames[0],custAcctDestFlds,whereClause) as uc:
#["SERVICEPOINTOBJECTID","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
                    #print(f"Updating: {desc.destinationClassNames[0]}")
                    for row in uc:
                        row[0] = svcpnt[0] #SncPntOID
                        #row[1] = svcpnt[1] #GlobalID
                        row[2] = svcpnt[2] #Point_X
                        row[3] = svcpnt[3] #Point_Y
                        row[4] = getPhaseDesignation(svcpnt[4]) #Phase
                        row[5] = svcpnt[5] #FeederID
                        row[6] = desc.destinationClassNames[0][:1] #Utility from CustomerAccount table prefix letter
                        #row[7] = gettxOID(svcpnt[7])
                        row[8] = gettxGUID(svcpnt[7]) #eTx_GlobalID
                        row[9] = svcpnt[8] #RegionName
                        uc.updateRow(row)

Searching eServicePoint and updating eCUSTOMERACCOUNT
Searching gMeterSet and updating gCUSTOMERACCOUNT
Searching rServicePoint and updating rCUSTOMERACCOUNT
Searching ServicePoint and updating wCUSTOMERACCOUNT

In [51]:
edit.stopOperation()
edit.stopEditing(True)

In [23]:
#arcpy.Delete_management(custLocations)
arcpy.CreateTable_management(gdb,"CustomerLocations",ecustAcctDest)

In [52]:
arcpy.TruncateTable_management(custLocations)
arcpy.Append_management(custAcctDestList,custLocations,"NO_TEST")

In [53]:
expression = "setFeeder(!FeederID!)"
codeblock = """
def setFeeder(feeder):
    if feeder is None:
        return 0
    else:
        return feeder"""
arcpy.CalculateField_management(custLocations,"FeederId",expression,"PYTHON3",codeblock)

In [77]:
expression = "setUnknown(!RegionName!)"
codeblock = """
def setUnknown(r):
    if r is None:
        return "Not Set"
    elif r == 0:
        return "Not Set"
    else:
        return r"""
arcpy.CalculateField_management(custLocations,"RegionName",expression,"PYTHON3",codeblock)

In [70]:
expression = "setPhase(!PhaseDesignation!)"
codeblock = """
def setPhase(phase):
    if phase is None:
        return 0
    else:
        return phase"""
arcpy.CalculateField_management(custLocations,"PhaseDesignation",expression,"PYTHON3",codeblock)

### Use numpy and pandas to export to CSV

Use arcpy [```TableToNumPyArray()```](http://pro.arcgis.com/en/pro-app/arcpy/data-access/tabletonumpyarray.htm)
See also [Working with numpy in ArcGIS](http://pro.arcgis.com/en/pro-app/arcpy/get-started/working-with-numpy-in-arcgis.htm)

nparr = arcpy.da.TableToNumPyArray(custLocations,custAcctOutFlds,skip_nulls=True)
#nparr = arcpy.da.TableToNumPyArray(custAcctDest,custAcctOutFlds,null_value=-9999)
pdarr = pd.DataFrame(nparr)
pdarr.to_csv(custAcctFile,header=False, index=False)

TODO - write file to \\gruadmin.gru.com\fs\Groups\OMS Replacement Project\Documents for OSII\Customer and Premise Files

Ready new numpy array for consumption analysis

remove empty line at end of CSV

In [ ]:
#nparr = arcpy.da.TableToNumPyArray(custLocations,["ServicePointObjectID","POINT_X","POINT_Y","AVGCONSUMPTION","MAXCONSUMPTION","Utility"],skip_nulls=True)

DataFrame.drop_duplicates(subset=None, keep='first', inplace=False

In [78]:
nparr = arcpy.da.TableToNumPyArray(custLocations,["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"])

In [79]:
df = pd.DataFrame(nparr)

In [80]:
df.head()

   ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility               eTransformerBank_GLOBALID RegionName
0         1  5000226717 -82.255216  29.660429                 2      207       e  {7CCCBA17-54EF-42AA-9A87-02159ACDA324}         NE
1         2  5000226733 -82.256019  29.659257                 2      207       e  {ADB0EEA9-99B5-476D-9F44-39730CB65611}         NE
2         3  5000010807 -82.253436  29.659716                 2      207       e  {DFDB886D-DEB4-43BC-8C61-7DBD12C22C2F}         NE
3         4  5000295952 -82.243694  29.702255                 2        0       e  {D90B530F-6540-4FDB-8B46-A8D7FA6797A9}         NE
4         5  5000286178 -82.253930  29.676644                 2      434       e  {BBE0CC70-FE66-44B2-802F-EBE0A2E7B444}         NE

In [81]:
df.tail()

        ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
203768    203854  5000323217 -82.364258  29.646300                 0        0       w                      None          0
203769    203855  5000345778 -82.363735  29.649041                 0        0       w                      None          0
203770    203856  5000205415 -82.364758  29.656020                 0        0       w                      None          0
203771    203857  5000371121 -82.366248  29.654611                 0        0       w                      None          0
203772    203858  5000033678 -82.363783  29.653377                 0        0       w                      None          0

Show only rows with a series filter

In [82]:
df.loc[(df["Utility"]=="g"), ["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"]]

        ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
96300      96354  5000231889 -82.331234  29.683879                 0        0       g                      None          0
96301      96355  5000232034 -82.331028  29.683705                 0        0       g                      None          0
96302      96356  5000070502 -82.329524  29.687743                 0        0       g                      None          0
96303      96357  5000070055 -82.330427  29.687203                 0        0       g                      None          0
96304      96358  5000070024 -82.330208  29.687193                 0        0       g                      None          0
96305      96359  5000069986 -82.329839  29.687183                 0        0       g                      None          0
96306      96360  5000069771 -82.328902  29.686731                 0        0       g                      None          0
96307      96361  5000069739 -82.329150  29.686765                 0        0       g                      None          0
96308      96362  5000069697 -82.329488  29.686765                 0        0       g                      None          0
96309      96363  5000069596 -82.329788  29.686709                 0        0       g                      None          0
96310      96364  5000069311 -82.330150  29.686773                 0        0       g                      None          0
96311      96365  5000069265 -82.330498  29.686773                 0        0       g                      None          0
96312      96366  5000034454 -82.456065  29.688742                 0        0       g                      None          0
96313      96367  5000034424 -82.456163  29.688768                 0        0       g                      None          0
96314      96368  5000231599 -82.314468  29.666190                 0        0       g                      None          0
96315      96369  5000231619 -82.314108  29.666270                 0        0       g                      None          0
96316      96370  5000108835 -82.315442  29.666922                 0        0       g                      None          0
96317      96371  5000133034 -82.315076  29.667189                 0        0       g                      None          0
96318      96372  5000132907 -82.315077  29.667396                 0        0       g                      None          0
96319      96373  5000109170 -82.315421  29.667436                 0        0       g                      None          0
96320      96374  5000107589 -82.316067  29.667259                 0        0       g                      None          0
96321      96375  5000107432 -82.315940  29.667519                 0        0       g                      None          0
96322      96376  5000107351 -82.315876  29.667811                 0        0       g                      None          0
96323      96377  5000103853 -82.316272  29.666899                 0        0       g                      None          0
96324      96378  5000104175 -82.316225  29.667501                 0        0       g                      None          0
96325      96379  5000104251 -82.316242  29.667725                 0        0       g                      None          0
96326      96380  5000109324 -82.315404  29.668015                 0        0       g                      None          0
96327      96381  5000104292 -82.316212  29.667998                 0        0       g                      None          0
96328      96382  5000098209 -82.317110  29.667743                 0        0       g                      None          0
96329      96383  5000101755 -82.316783  29.667856                 0        0       g                      None          0
...          ...         ...        ...        ...               ...      ...     ...                       ...        ...
132106    132166  5000314846 -82.329391  29.648532                 0        0       g                      None          0
132107    132167  5000394646 -82.488090  29.642780                 0        0       g                      None          0
132108    132168  5000393852 -82.462525  29.621125                 0        0       g                      None          0
132109    132169  5000394432 -82.442036  29.593839                 0        0       g                      None          0
132110    132170  5000393572 -82.454128  29.628915                 0        0       g                      None          0
132111    132171  5000393955 -82.465606  29.629574                 0        0       g                      None          0
132112    132172  5000395617 -82.493594  29.662131                 0        0       g                      None          0
132113    132173  5000394611 -82.484172  29.662784                 0        0       g                      None          0
132114    132174  5000395307 -82.334302  29.667683                 0        0       g                      None          0
132115    132175  5000394427 -82.396971  29.731958                 0        0       g                      None          0
132116    132176  5000393946 -82.396975  29.731992                 0        0       g                      None          0
132117    132177  5000393682 -82.402069  29.730656                 0        0       g                      None          0
132118    132178  5000393833 -82.353037  29.723369                 0        0       g                      None          0
132119    132179  5000393827 -82.353054  29.723363                 0        0       g                      None          0
132120    132180  5000395698 -82.385116  29.652487                 0        0       g                      None          0
132121    132181  5000395515 -82.317673  29.661731                 0        0       g                      None          0
132122    132182  5000395516 -82.289906  29.660114                 0        0       g                      None          0
132123    132183  5000395256 -82.346933  29.618810                 0        0       g                      None          0
132124    132184  5000393943 -82.349809  29.614598                 0        0       g                      None          0
132125    132185  5000394253 -82.306142  29.681213                 0        0       g                      None          0
132126    132186  5000394307 -82.470060  29.627978                 0        0       g                      None          0
132127    132187  5000395287 -82.470022  29.627542                 0        0       g                      None          0
132128    132188  5000101864 -82.432890  29.570642                 0        0       g                      None          0
132129    132189  5000393980 -82.470559  29.628565                 0        0       g                      None          0
132130    132190  5000395676 -82.368216  29.699801                 0        0       g                      None          0
132131    132191  5000394377 -82.402075  29.730692                 0        0       g                      None          0
132132    132192  5000393763 -82.398364  29.732241                 0        0       g                      None          0
132133    132193  5000394787 -82.393835  29.626483                 0        0       g                      None          0
132134    132194  5000395625 -82.415931  29.759569                 0        0       g                      None          0
132135    132195  5000394571 -82.375410  29.626925                 0        0       g                      None          0

[35836 rows x 9 columns]

In [83]:
df.ObjectID

0              1
1              2
2              3
3              4
4              5
5              6
6              7
7              8
8              9
9             10
10            11
11            12
12            13
13            14
14            15
15            16
16            17
17            18
18            19
19            20
20            21
21            22
22            23
23            24
24            25
25            26
26            27
27            28
28            29
29            30
           ...
203743    203829
203744    203830
203745    203831
203746    203832
203747    203833
203748    203834
203749    203835
203750    203836
203751    203837
203752    203838
203753    203839
203754    203840
203755    203841
203756    203842
203757    203843
203758    203844
203759    203845
203760    203846
203761    203847
203762    203848
203763    203849
203764    203850
203765    203851
203766    203852
203767    203853
203768    203854
203769    203855
203770    203856
203771    203857
203772    203858
Name: ObjectID, Length: 203773, dtype: int32

In [84]:
df = df.astype({'ObjectID':str}, copy=False)

In [ ]:
df.ObjectID

In [85]:
df.ObjectID = np.where(df.Utility != 'e', df.Utility + df.ObjectID,df.ObjectID)

In [86]:
df.head()

  ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility               eTransformerBank_GLOBALID RegionName
0        1  5000226717 -82.255216  29.660429                 2      207       e  {7CCCBA17-54EF-42AA-9A87-02159ACDA324}         NE
1        2  5000226733 -82.256019  29.659257                 2      207       e  {ADB0EEA9-99B5-476D-9F44-39730CB65611}         NE
2        3  5000010807 -82.253436  29.659716                 2      207       e  {DFDB886D-DEB4-43BC-8C61-7DBD12C22C2F}         NE
3        4  5000295952 -82.243694  29.702255                 2        0       e  {D90B530F-6540-4FDB-8B46-A8D7FA6797A9}         NE
4        5  5000286178 -82.253930  29.676644                 2      434       e  {BBE0CC70-FE66-44B2-802F-EBE0A2E7B444}         NE

In [87]:
df.tail()

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
203768  w203854  5000323217 -82.364258  29.646300                 0        0       w                      None          0
203769  w203855  5000345778 -82.363735  29.649041                 0        0       w                      None          0
203770  w203856  5000205415 -82.364758  29.656020                 0        0       w                      None          0
203771  w203857  5000371121 -82.366248  29.654611                 0        0       w                      None          0
203772  w203858  5000033678 -82.363783  29.653377                 0        0       w                      None          0

In [88]:
df.loc[(df.Utility == 'w'), ["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"]]

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
133186  w133247  5000326532 -82.372671  29.692579                 0        0       w                      None          0
133187  w133248  5000326490 -82.372725  29.692580                 0        0       w                      None          0
133188  w133249  5000008681 -82.373142  29.692581                 0        0       w                      None          0
133189  w133250  5000293743 -82.373197  29.692582                 0        0       w                      None          0
133190  w133251  5000020548 -82.373414  29.692582                 0        0       w                      None          0
133191  w133252  5000026101 -82.373774  29.692767                 0        0       w                      None          0
133192  w133253  5000326329 -82.373794  29.692883                 0        0       w                      None          0
133193  w133254  5000020484 -82.373892  29.693347                 0        0       w                      None          0
133194  w133255  5000326285 -82.373947  29.693582                 0        0       w                      None          0
133195  w133256  5000293711 -82.373943  29.693559                 0        0       w                      None          0
133196  w133257  5000317959 -82.373968  29.693803                 0        0       w                      None          0
133197  w133258  5000338836 -82.373966  29.694168                 0        0       w                      None          0
133198  w133259  5000315429 -82.373964  29.694373                 0        0       w                      None          0
133199  w133260  5000315592 -82.373964  29.694428                 0        0       w                      None          0
133200  w133261  5000319932 -82.373312  29.692734                 0        0       w                      None          0
133201  w133262  5000320022 -82.373648  29.693144                 0        0       w                      None          0
133202  w133263  5000317998 -82.373660  29.693192                 0        0       w                      None          0
133203  w133264  5000289848 -82.373768  29.693570                 0        0       w                      None          0
133204  w133265  5000330251 -82.373772  29.693592                 0        0       w                      None          0
133205  w133266  5000326616 -82.373792  29.693969                 0        0       w                      None          0
133206  w133267  5000001724 -82.373790  29.694016                 0        0       w                      None          0
133207  w133268  5000001755 -82.373788  29.694385                 0        0       w                      None          0
133208  w133269  5000006267 -82.373788  29.694587                 0        0       w                      None          0
133209  w133270  5000335319 -82.373788  29.694635                 0        0       w                      None          0
133210  w133271  5000288723 -82.373173  29.694811                 0        0       w                      None          0
133211  w133272  5000293992 -82.373000  29.694632                 0        0       w                      None          0
133212  w133273  5000293779 -82.372999  29.694584                 0        0       w                      None          0
133213  w133274  5000006314 -82.373177  29.694461                 0        0       w                      None          0
133214  w133275  5000332131 -82.373178  29.694385                 0        0       w                      None          0
133215  w133276  5000006400 -82.373058  29.694008                 0        0       w                      None          0
...         ...         ...        ...        ...               ...      ...     ...                       ...        ...
203743  w203829  5000395509 -82.441846  29.593465                 0        0       w                      None          0
203744  w203830  5000393371 -82.441459  29.593658                 0        0       w                      None          0
203745  w203831  5000210454 -82.431243  29.591686                 0        0       w                      None          0
203746  w203832  5000394264 -82.487603  29.679753                 0        0       w                      None          0
203747  w203833  5000327941 -82.432727  29.665851                 0        0       w                      None          0
203748  w203834  5000316572 -82.432727  29.665851                 0        0       w                      None          0
203749  w203835  5000023211 -82.411468  29.663720                 0        0       w                      None          0
203750  w203836  5000049779 -82.423833  29.653221                 0        0       w                      None          0
203751  w203837  5000022924 -82.414032  29.659818                 0        0       w                      None          0
203752  w203838  5000391916 -82.339744  29.653341                 0        0       w                      None          0
203753  w203839  5000391967 -82.339744  29.653341                 0        0       w                      None          0
203754  w203840  5000391961 -82.339744  29.653341                 0        0       w                      None          0
203755  w203841  5000391895 -82.339744  29.653341                 0        0       w                      None          0
203756  w203842  5000390970 -82.339744  29.653341                 0        0       w                      None          0
203757  w203843  5000391441 -82.339744  29.653341                 0        0       w                      None          0
203758  w203844  5000175578 -82.354600  29.658549                 0        0       w                      None          0
203759  w203845  5000029916 -82.358335  29.693703                 0        0       w                      None          0
203760  w203846  5000392692 -82.345306  29.690916                 0        0       w                      None          0
203761  w203847  5000280870 -82.336743  29.688248                 0        0       w                      None          0
203762  w203848  5000192706 -82.339795  29.686200                 0        0       w                      None          0
203763  w203849  5000210543 -82.348558  29.677990                 0        0       w                      None          0
203764  w203850  5000210567 -82.348558  29.677990                 0        0       w                      None          0
203765  w203851  5000244519 -82.358708  29.687036                 0        0       w                      None          0
203766  w203852  5000301174 -82.359213  29.686648                 0        0       w                      None          0
203767  w203853  5000025835 -82.417856  29.662165                 0        0       w                      None          0
203768  w203854  5000323217 -82.364258  29.646300                 0        0       w                      None          0
203769  w203855  5000345778 -82.363735  29.649041                 0        0       w                      None          0
203770  w203856  5000205415 -82.364758  29.656020                 0        0       w                      None          0
203771  w203857  5000371121 -82.366248  29.654611                 0        0       w                      None          0
203772  w203858  5000033678 -82.363783  29.653377                 0        0       w                      None          0

[70587 rows x 9 columns]

In [ ]:
#df = df.astype({'INSTALL_NUM':str}, copy=True)
df2 = df.astype(str, copy=True)
df2.INSTALL_NUM

#df.groupby(df.columns.tolist(),as_index=False).size()
grouped = df.groupby('Utility')
for name,group in grouped:
    print(name)
    #print(group)
    #df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1).drop_duplicates(subset='INSTALL_NUM')
    #df2.groupby(['INSTALL_NUM', 'Utility']).filter(lambda x: x if len(x) > 1 and 'Utility' == name else None)
    #print(df.groupby('INSTALL_NUM').filter(lambda x: x if len(x) > 1 and 'Utility' == name else None))
    #print(df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1 and 'Utility' == name))
    print(df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1)).drop_duplicates(subset='INSTALL_NUM')

In [89]:
df.drop_duplicates(subset='INSTALL_NUM', keep='first', inplace=True)

In [90]:
df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [ObjectID, INSTALL_NUM, POINT_X, POINT_Y, PHASEDESIGNATION, FeederID, Utility, eTransformerBank_GLOBALID, RegionName]
Index: []

In [91]:
df.groupby(['INSTALL_NUM']).size().reset_index(name='count')

                 INSTALL_NUM  count
0             4199 NW 86 TER      1
1                 5000001182      1
2                 5000001183      1
3                 5000001185      1
4                 5000001187      1
5                 5000001189      1
6                 5000001193      1
7                 5000001194      1
8                 5000001197      1
9                 5000001198      1
10                5000001199      1
11                5000001200      1
12                5000001201      1
13                5000001202      1
14                5000001203      1
15                5000001207      1
16                5000001214      1
17                5000001216      1
18                5000001217      1
19                5000001218      1
20                5000001219      1
21                5000001220      1
22                5000001224      1
23                5000001225      1
24                5000001226      1
25                5000001229      1
26                5000001231      1
27                5000001232      1
28                5000001233      1
29                5000001235      1
...                      ...    ...
203341            5000397083      1
203342            5000397133      1
203343            5000397135      1
203344            5000397136      1
203345            5000397139      1
203346            5000397148      1
203347            5000397150      1
203348            5000397180      1
203349            5000397281      1
203350            5000397293      1
203351            5000397304      1
203352            5000397321      1
203353            5000397329      1
203354            5000397349      1
203355            5000397415      1
203356            5000397449      1
203357            5000397480      1
203358            5000397505      1
203359            5000397584      1
203360            5000397768      1
203361            5000397813      1
203362            5000397844      1
203363            5000397882      1
203364             8/22/2018      1
203365                  None      1
203366        Office 5001/07      1
203367  Park Garage FirePump      1
203368        Parking Garage      1
203369             W79353120      1
203370             w71828835      1

[203371 rows x 2 columns]

In [92]:
df.drop(['Utility'], axis=1, inplace=True)

In [93]:
df.tail()

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID eTransformerBank_GLOBALID RegionName
203768  w203854  5000323217 -82.364258  29.646300                 0        0                      None          0
203769  w203855  5000345778 -82.363735  29.649041                 0        0                      None          0
203770  w203856  5000205415 -82.364758  29.656020                 0        0                      None          0
203771  w203857  5000371121 -82.366248  29.654611                 0        0                      None          0
203772  w203858  5000033678 -82.363783  29.653377                 0        0                      None          0

In [94]:
df.to_csv(custAcctFile,header=False, index=True)

[```gis.features.SpatialDataFrame()```](https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.features.toc.html?highlight=spatialdataframe#arcgis.features.SpatialDataFrame.from_xy)

In [ ]:
from arcgis.features import SpatialDataFrame
from arcgis.gis import GIS
from getpass import getpass
from IPython.display import display

In [ ]:
sdf = SpatialDataFrame.from_xy(df,"POINT_X","POINT_Y")
gis = GIS(arcpy.GetActivePortalURL(), username=input("Enter User Name "), password=(getpass()))
#gis = GIS()
#portalDesc = arcpy.GetPortalDescription()
# search and list all items owned by connected user
#query=f'owner:{portalDesc["user"]["username"]} AND title:CW BaseMap'
#itemType="Feature Layer"
#sortField="title"
#sortOrder="asc"
# default max__items is 10
#maxItems=100
#m = gis.content.search(query,itemType,sortField,sortOrder,maxItems)

In [ ]:
consumptionLyr = gis.content.import_data(sdf)

In [ ]:
m = gis.map('Gainesville,FL')

In [ ]:
m.add_layer(sdf,options={"renderer":"ClassedSizeRenderer","field_name":"MAXCONSUMPTION"})

In [ ]:
m.add_layer(consumptionLyr,options={"renderer":"ClassedSizeRenderer","field_name":"MAXCONSUMPTION"})

In [ ]:
m