# OSI Lat Long
### This Notebook uses the XY of the point featureclass and adds Lat Long to each related row in a related table. The FeederID (aka Circuit Number) is also determined for Electric features.
A CSV file is generated that will be used to support a seperate project.

The second half of the Notebook explores the electric consumption data with a [SpatialDataFrame](https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.features.toc.html?highlight=spatialdataframe#spatialdataframe) using the customers table modifed in the first half.

W/WW notes: needs GloabID in customer account tables

In [2]:
import arcpy
import numpy as np
import pandas as pd

In [21]:
gdb = "C:/Users/friendde/Documents/ArcGIS/Projects/OSILatLong/OSILatLong.gdb"
#omsRegion = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eRegion"
#omsRegionSource = r"C:\GISData\Data\Snapshot\mxElectric.geodatabase\main.Electric\main.EDEngDistrict"
omsRegion = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\EDEngDistrict"
sourceGDBList = ["C:/GISData/Data/Snapshot/mxElectric.geodatabase/","C:/GISData/Data/Snapshot/mxGas.geodatabase/",
                 "C:/arcdata/WWW_Extract.gdb/"]
esvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint"
gsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet"
rsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint"
wsvcPntDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint"
svcPntDestList = [esvcPntDest,gsvcPntDest,rsvcPntDest,wsvcPntDest]

#svcPntDict = {esvcPntSource:esvcPntDest,gsvcPntSource:gsvcPntDest,rsvcPntSource:rsvcPntDest,wsvcPntSource:wsvcPntDest}

ecustAcctSource = r"C:\GISData\Data\Snapshot\mxElectric.geodatabase\main.eCUSTOMERACCOUNT"
gcustAcctSource = r"C:\GISData\Data\Snapshot\mxGas.geodatabase\main.gCUSTOMERACCOUNT"
rcustAcctSource = r"C:\arcdata\WWW_Extract.gdb\rCustomerAccount"
wcustAcctSource = r"C:\arcdata\WWW_Extract.gdb\wCustomerAccount"
custAcctSourceList = [ecustAcctSource,gcustAcctSource,rcustAcctSource,wcustAcctSource]

ecustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eCUSTOMERACCOUNT"
gcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gCUSTOMERACCOUNT"
rcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rCUSTOMERACCOUNT"
wcustAcctDest = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\wCUSTOMERACCOUNT"
custAcctDestList = [ecustAcctDest,gcustAcctDest,rcustAcctDest,wcustAcctDest]

custAcctDict = {ecustAcctSource:ecustAcctDest,gcustAcctSource:gcustAcctDest,rcustAcctSource:rcustAcctDest,wcustAcctSource:wcustAcctDest}

electFields = ["PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
svcPntDestFlds = ["OID@","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAcctDestFlds = ["SERVICEPOINTOBJECTID","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAcctOutFlds = ["OID@","SvcPntOID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
custAnalysis = ["SERVICEPOINTOBJECTID","INSTALL_NUM","POINT_X","POINT_Y","AVGCONSUMPTION","MAXCONSUMPTION"]
custLocations = r"C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\CustomerLocations"
custAcctFile = r'C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\GISAll.csv'

#regions = ['SE', 'SW Main St to 34 St', 'NW Main St to 34 St', 'SW west of I-75', 'SW 34 St to I-75', 'NW west of I-75', 'NW to 39 Ave, 34 Ave to I-75', 'NW north of 39 Ave', 'NE']
regions = ['East','West']
expression = "updateRegion(region)"
codeblock = """
def updateRegion(name):
    return str(name)"""

#### Phase Translation between ArcFM and OSI
| Phase | ArcFM | OSI |
|-------|-------|-----|
|   A   |   4   |  1  ||
|   B   |   2   |  2  |
|   C   |   1   |  3  |
|   AB  |   6   |  12 |
|   AC  |   5   |  13 |
|   BC  |   3   |  23 |
|   ABC |   7   |  123|

In [16]:
# convert ArcFM Phase to OSI Phase
def getPhaseDesignation(phaseDesignation):
        if phaseDesignation is None:
                ph = 0
                return ph
        if phaseDesignation == 1:
                ph = 3
                return ph
        if phaseDesignation == 2:
                ph = 2
                return ph
        if phaseDesignation == 3:
                ph = 23
                return ph
        if phaseDesignation == 4:
                ph = 1
                return ph
        if phaseDesignation == 5:
                ph = 13
                return ph
        if phaseDesignation == 6:
                ph = 12
                return ph
        if phaseDesignation == 7:
                ph = 123
                return ph
def gettxOID(txOID):
        if txOID is None:
                txOID = 0
                return txOID
        else:
            return txOID
def gettxGUID(txGUID):
        if txGUID is None:
            return 0
        else:
            return txGUID

def replaceChar(strReplace):
    replaceList = [' ',',','-']
    for r in replaceList:
        if r in (strReplace):
            strReplace = strReplace.replace(r,'')

    return strReplace

def listReplace(lst, _from, _to):
   return([_to if v == _from else v for v in lst])

In [17]:
arcpy.env.workspace = gdb
arcpy.env.overwriteOutput = True
arcpy.env.outputCoordinateSystem = arcpy.SpatialReference(4326)

In [18]:
# delete all existing tables in workspace, new tables are created or copied in
fdsList = arcpy.ListDatasets()
for fds in fdsList:
    print(f'Deleting {fds}')
    arcpy.Delete_management(fds)
tblList = arcpy.ListTables()
for tbl in tblList:
    print(f'Deleting {tbl}')
    arcpy.Delete_management(tbl)
fcsList = arcpy.ListFeatureClasses()
for fcs in fcsList:
    if fcs == 'EDEngDistrict':
        pass
    else:
        print(f'Deleting {fcs}')
        arcpy.Delete_management(fcs)

In [19]:
# copy in custAcctDict customer tables into workspace
# add fields not normaly in customer tables
for k,v in custAcctDict.items():
    print(f'Copying {k} to {v}')
    arcpy.Copy_management(k,v)
    if arcpy.Exists(v):
        #print(f'Copy Success {v}')
        #field_names = [f.name for f in arcpy.ListFields(v)]
        arcpy.AddField_management(v, "POINT_X", "DOUBLE")
        arcpy.AddField_management(v, "POINT_Y", "DOUBLE")
        arcpy.AddField_management(v, "PHASEDESIGNATION", "LONG")
        arcpy.AddField_management(v, "SERVICEPOINTOBJECTID", "LONG")
        arcpy.AddField_management(v, "Utility", "TEXT")
        arcpy.AddField_management(v, "FeederID", "TEXT")
        arcpy.AddField_management(v, "TRANSFORMERBANKOBJECTID", "LONG")
        arcpy.AddField_management(v, "eTransformerBank_GLOBALID", "GUID")
        arcpy.AddField_management(v, "RegionName", "TEXT")
    else:
        print(f'Copy Failed! {v}')

Copying C:\GISData\Data\Snapshot\mxElectric.geodatabase\main.eCUSTOMERACCOUNT to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eCUSTOMERACCOUNT
Copying C:\GISData\Data\Snapshot\mxGas.geodatabase\main.gCUSTOMERACCOUNT to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gCUSTOMERACCOUNT
Copying C:\arcdata\WWW_Extract.gdb\rCustomerAccount to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rCUSTOMERACCOUNT
Copying C:\arcdata\WWW_Extract.gdb\wCustomerAccount to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\wCUSTOMERACCOUNT

import os
for fc in svcPntDestList:
    print(os.path.split(fc)[1:])

In [23]:
#Add Responder Region Name to Service Points (electric only for now)
try:
    arcpy.AddField_management(esvcPntDest, "RegionName", "TEXT")
    arcpy.MakeFeatureLayer_management(esvcPntDest,'eSvcPnt')
    for region in regions:
        with arcpy.da.SearchCursor(omsRegionSource,"DirName") as sc:
            print(f"Current Region Name {region}")
            #desc = arcpy.da.Describe(omsRegion)
            #print(f"FIDSet {desc['FIDSet']}")
            regionName = replaceChar(region)
            print(f"New Region Name {regionName}")
            arcpy.MakeFeatureLayer_management(omsRegion,regionName,f"DirName = '{region}'")
            arcpy.CopyFeatures_management(region, gdb + f"/{region}")
            if arcpy.Exists(gdb + f"/{region}"):
                #print(f"found {regionName}")
                arcpy.SelectLayerByLocation_management('eSvcPnt',"",region)
                #result = arcpy.GetCount_management(gdb + "/" + regionName)
                #print(result)
                result = arcpy.GetCount_management('eSvcPnt')
                print(f"{result} meters are within {region}")
                #desc = arcpy.Describe('eSvcPnt')
                #print(desc['FIDSet'])
                #print(len(desc.FIDSet.split(";")))
                if int(result.getOutput(0)) > 0:
                    print(f'Adding {region} to {int(result.getOutput(0))} Service Points')
                    arcpy.CalculateField_management('eSvcPnt',"RegionName",expression,"PYTHON",codeblock)
except:
    print(arcpy.GetMessages(2))

Current Region Name East
New Region Name East
28629 meters are within East
Adding East to 28629 Service Points
Current Region Name West
New Region Name West
29135 meters are within West
Adding West to 29135 Service Points

In [25]:
# add XY coords and some electric fields to all service point features
for fc in svcPntDestList:
    if arcpy.Exists(fc):
        print(f'Adding XY to {fc}')
        arcpy.AddXY_management(fc)
        for electField in electFields:
            if len(arcpy.ListFields(fc, electField)):
                print(f'{electField} exists in {fc}')
                pass
            else:                
                print(f'Adding {electField} to {fc}')
                if electField in ["PHASEDESIGNATION","TRANSFORMERBANKOBJECTID"]:
                    arcpy.AddField_management(fc, electField, "LONG")
                elif electField == "eTransformerBank_GLOBALID":
                    arcpy.AddField_management(fc, electField, "GUID")
                else:
                    arcpy.AddField_management(fc, electField, "TEXT")

Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
PHASEDESIGNATION exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
FEEDERID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
TRANSFORMERBANKOBJECTID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
eTransformerBank_GLOBALID exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
RegionName exists in C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\eServicePoint
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding PHASEDESIGNATION to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding FEEDERID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding TRANSFORMERBANKOBJECTID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding eTransformerBank_GLOBALID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\gMeterSet
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding PHASEDESIGNATION to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding FEEDERID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding TRANSFORMERBANKOBJECTID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding eTransformerBank_GLOBALID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\rServicePoint
Adding XY to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding PHASEDESIGNATION to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding FEEDERID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding TRANSFORMERBANKOBJECTID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding eTransformerBank_GLOBALID to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint
Adding RegionName to C:\Users\friendde\Documents\ArcGIS\Projects\OSILatLong\OSILatLong.gdb\ServicePoint

In [26]:
#check for GlobalID before migrating relationship classes
for custAcctDest in custAcctDestList:
    fldList = [fld.name.upper() for fld in arcpy.Describe(custAcctDest).fields]
    #print(fldList)
    if "GLOBALID" not in fldList:
        print(f'Adding GlobalID to {custAcctDest}')
        arcpy.AddGlobalIDs_management(custAcctDest)

In [27]:
# convert ObjectID relationship to GlobalID relationship
rcList = [c.name for c in arcpy.Describe(gdb).children if c.datatype == "RelationshipClass"]
for rc in rcList:
    desc = arcpy.Describe(rc)
    print("%-25s %s" % ("Backward Path Label:", desc.backwardPathLabel))
    print("%-25s %s" % ("Cardinality:", desc.cardinality))
    print("%-25s %s" % ("Class key:", desc.classKey))
    print("%-25s %s" % ("Destination Class Names:", desc.destinationClassNames))
    print("%-25s %s" % ("Forward Path Label:", desc.forwardPathLabel)) 
    print("%-25s %s" % ("Is Attributed:", desc.isAttributed))
    print("%-25s %s" % ("Is Composite:", desc.isComposite)) 
    print("%-25s %s" % ("Is Reflexive:", desc.isReflexive))
    print("%-25s %s" % ("Key Type:", desc.keyType))
    print("%-25s %s" % ("Notification Direction:", desc.notification))
    print("%-25s %s" % ("Origin Class Names:", desc.originClassNames))
    print("\n")

Backward Path Label:      ServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['eCUSTOMERACCOUNT']
Forward Path Label:       Customer
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Forward
Origin Class Names:       ['eServicePoint']


Backward Path Label:      SAPInstallation
Cardinality:              OneToOne
Class key:                Undefined
Destination Class Names:  ['SAP_INSTALLATION']
Forward Path Label:       eCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['eCUSTOMERACCOUNT']


Backward Path Label:      MeterSet
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['gCUSTOMERACCOUNT']
Forward Path Label:       Customer
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['gMeterSet']


Backward Path Label:      ARCFM_WWW.rServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['rCUSTOMERACCOUNT']
Forward Path Label:       ARCFM_WWW.rCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['rServicePoint']


Backward Path Label:      ARCFM_WWW.ServicePoint
Cardinality:              OneToMany
Class key:                Undefined
Destination Class Names:  ['wCUSTOMERACCOUNT']
Forward Path Label:       ARCFM_WWW.wCustomerAccount
Is Attributed:            False
Is Composite:             True
Is Reflexive:             False
Key Type:                 Single
Notification Direction:   Both
Origin Class Names:       ['ServicePoint']

In [28]:
for rc in rcList:
    print(f'Migrating {rc}')
    arcpy.MigrateRelationshipClass_management(rc)

Migrating ServicePt_CustomerAcct
Migrating eCustomeraccount_SAPInstallation
Migrating gMeterSet_gCustomerAccount
Migrating RSERVICEPOINT_CUSTACCT
Migrating WSERVICEPOINT_CUSTACCT

In [29]:
edit = arcpy.da.Editor(gdb)
edit.startEditing(False, False)
edit.startOperation()

field_names = [f.name for f in arcpy.ListFields(gsvcPntDest)]
print(field_names)

In [30]:
for rc in rcList:
    desc = arcpy.Describe(rc)
    if desc.originClassNames[0] == "SAP_INSTALLATION":
        pass
    elif desc.destinationClassNames[0] == "SAP_INSTALLATION":
        pass
    else:
        custAcctFlds = []
        custAcctFlds = listReplace(custAcctDestFlds,"GLOBALID",f"{desc.originClassNames[0]}_GLOBALID")
        with arcpy.da.SearchCursor(desc.originClassNames[0],svcPntDestFlds) as svcpnts:
#["OID@","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FEEDERID","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
            print(f"Searching {desc.originClassNames[0]} and updating {desc.destinationClassNames[0]}")
            for svcpnt in svcpnts:
                whereClause = f"{desc.originClassNames[0]}_GLOBALID = '{svcpnt[1]}'"
                with arcpy.da.UpdateCursor(desc.destinationClassNames[0],custAcctDestFlds,whereClause) as uc:
#["SERVICEPOINTOBJECTID","GLOBALID","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","TRANSFORMERBANKOBJECTID","eTransformerBank_GLOBALID","RegionName"]
                    #print(f"Updating: {desc.destinationClassNames[0]}")
                    for row in uc:
                        row[0] = svcpnt[0] #SncPntOID
                        #row[1] = svcpnt[1] #GlobalID
                        row[2] = svcpnt[2] #Point_X
                        row[3] = svcpnt[3] #Point_Y
                        row[4] = getPhaseDesignation(svcpnt[4]) #Phase
                        row[5] = svcpnt[5] #FeederID
                        row[6] = desc.destinationClassNames[0][:1] #Utility from CustomerAccount table prefix letter
                        #row[7] = gettxOID(svcpnt[7])
                        row[8] = gettxGUID(svcpnt[7]) #eTx_GlobalID
                        row[9] = svcpnt[8] #RegionName
                        uc.updateRow(row)

Searching eServicePoint and updating eCUSTOMERACCOUNT
Searching gMeterSet and updating gCUSTOMERACCOUNT
Searching rServicePoint and updating rCUSTOMERACCOUNT
Searching ServicePoint and updating wCUSTOMERACCOUNT

In [31]:
edit.stopOperation()
edit.stopEditing(True)

In [32]:
#arcpy.Delete_management(custLocations)
arcpy.CreateTable_management(gdb,"CustomerLocations",ecustAcctDest)

In [33]:
arcpy.TruncateTable_management(custLocations)
arcpy.Append_management(custAcctDestList,custLocations,"NO_TEST")

In [34]:
expression = "setFeeder(!FeederID!)"
codeblock = """
def setFeeder(feeder):
    if feeder is None:
        return 0
    else:
        return feeder"""
arcpy.CalculateField_management(custLocations,"FeederId",expression,"PYTHON3",codeblock)

In [35]:
expression = "setUnknown(!RegionName!)"
codeblock = """
def setUnknown(r):
    if r is None:
        return "Not Set"
    elif r == 0:
        return "Not Set"
    else:
        return r"""
arcpy.CalculateField_management(custLocations,"RegionName",expression,"PYTHON3",codeblock)

In [36]:
expression = "setPhase(!PhaseDesignation!)"
codeblock = """
def setPhase(phase):
    if phase is None:
        return 0
    else:
        return phase"""
arcpy.CalculateField_management(custLocations,"PhaseDesignation",expression,"PYTHON3",codeblock)

### Use numpy and pandas to export to CSV

Use arcpy [```TableToNumPyArray()```](http://pro.arcgis.com/en/pro-app/arcpy/data-access/tabletonumpyarray.htm)
See also [Working with numpy in ArcGIS](http://pro.arcgis.com/en/pro-app/arcpy/get-started/working-with-numpy-in-arcgis.htm)

nparr = arcpy.da.TableToNumPyArray(custLocations,custAcctOutFlds,skip_nulls=True)
#nparr = arcpy.da.TableToNumPyArray(custAcctDest,custAcctOutFlds,null_value=-9999)
pdarr = pd.DataFrame(nparr)
pdarr.to_csv(custAcctFile,header=False, index=False)

TODO - write file to \\gruadmin.gru.com\fs\Groups\OMS Replacement Project\Documents for OSII\Customer and Premise Files

Ready new numpy array for consumption analysis

remove empty line at end of CSV

In [ ]:
#nparr = arcpy.da.TableToNumPyArray(custLocations,["ServicePointObjectID","POINT_X","POINT_Y","AVGCONSUMPTION","MAXCONSUMPTION","Utility"],skip_nulls=True)

DataFrame.drop_duplicates(subset=None, keep='first', inplace=False

In [37]:
nparr = arcpy.da.TableToNumPyArray(custLocations,["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"])

In [38]:
df = pd.DataFrame(nparr)

In [39]:
df.head()

   ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility               eTransformerBank_GLOBALID RegionName
0         1  5000226717 -82.255216  29.660429                 2      207       e  {7CCCBA17-54EF-42AA-9A87-02159ACDA324}       East
1         2  5000226733 -82.256019  29.659257                 2      207       e  {ADB0EEA9-99B5-476D-9F44-39730CB65611}       East
2         3  5000010807 -82.253436  29.659716                 2      207       e  {DFDB886D-DEB4-43BC-8C61-7DBD12C22C2F}       East
3         4  5000295952 -82.243694  29.702255                 2        0       e  {D90B530F-6540-4FDB-8B46-A8D7FA6797A9}       East
4         5  5000286178 -82.253930  29.676644                 2      434       e  {BBE0CC70-FE66-44B2-802F-EBE0A2E7B444}       East

In [40]:
df.tail()

        ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
203871    203872  5000323217 -82.364258  29.646300                 0        0       w                      None    Not Set
203872    203873  5000345778 -82.363735  29.649041                 0        0       w                      None    Not Set
203873    203874  5000205415 -82.364758  29.656020                 0        0       w                      None    Not Set
203874    203875  5000371121 -82.366248  29.654611                 0        0       w                      None    Not Set
203875    203876  5000033678 -82.363783  29.653377                 0        0       w                      None    Not Set

Show only rows with a series filter

In [41]:
df.loc[(df["Utility"]=="g"), ["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"]]

        ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
96371      96372  5000231889 -82.331234  29.683879                 0        0       g                      None    Not Set
96372      96373  5000232034 -82.331028  29.683705                 0        0       g                      None    Not Set
96373      96374  5000070502 -82.329524  29.687743                 0        0       g                      None    Not Set
96374      96375  5000070055 -82.330427  29.687203                 0        0       g                      None    Not Set
96375      96376  5000070024 -82.330208  29.687193                 0        0       g                      None    Not Set
96376      96377  5000069986 -82.329839  29.687183                 0        0       g                      None    Not Set
96377      96378  5000069771 -82.328902  29.686731                 0        0       g                      None    Not Set
96378      96379  5000069739 -82.329150  29.686765                 0        0       g                      None    Not Set
96379      96380  5000069697 -82.329488  29.686765                 0        0       g                      None    Not Set
96380      96381  5000069596 -82.329788  29.686709                 0        0       g                      None    Not Set
96381      96382  5000069311 -82.330150  29.686773                 0        0       g                      None    Not Set
96382      96383  5000069265 -82.330498  29.686773                 0        0       g                      None    Not Set
96383      96384  5000034454 -82.456065  29.688742                 0        0       g                      None    Not Set
96384      96385  5000034424 -82.456163  29.688768                 0        0       g                      None    Not Set
96385      96386  5000231599 -82.314468  29.666190                 0        0       g                      None    Not Set
96386      96387  5000231619 -82.314108  29.666270                 0        0       g                      None    Not Set
96387      96388  5000108835 -82.315442  29.666922                 0        0       g                      None    Not Set
96388      96389  5000133034 -82.315076  29.667189                 0        0       g                      None    Not Set
96389      96390  5000132907 -82.315077  29.667396                 0        0       g                      None    Not Set
96390      96391  5000109170 -82.315421  29.667436                 0        0       g                      None    Not Set
96391      96392  5000107589 -82.316067  29.667259                 0        0       g                      None    Not Set
96392      96393  5000107432 -82.315940  29.667519                 0        0       g                      None    Not Set
96393      96394  5000107351 -82.315876  29.667811                 0        0       g                      None    Not Set
96394      96395  5000103853 -82.316272  29.666899                 0        0       g                      None    Not Set
96395      96396  5000104175 -82.316225  29.667501                 0        0       g                      None    Not Set
96396      96397  5000104251 -82.316242  29.667725                 0        0       g                      None    Not Set
96397      96398  5000109324 -82.315404  29.668015                 0        0       g                      None    Not Set
96398      96399  5000104292 -82.316212  29.667998                 0        0       g                      None    Not Set
96399      96400  5000098209 -82.317110  29.667743                 0        0       g                      None    Not Set
96400      96401  5000101755 -82.316783  29.667856                 0        0       g                      None    Not Set
...          ...         ...        ...        ...               ...      ...     ...                       ...        ...
132183    132184  5000314846 -82.329391  29.648532                 0        0       g                      None    Not Set
132184    132185  5000394646 -82.488090  29.642780                 0        0       g                      None    Not Set
132185    132186  5000393852 -82.462525  29.621125                 0        0       g                      None    Not Set
132186    132187  5000394432 -82.442036  29.593839                 0        0       g                      None    Not Set
132187    132188  5000393572 -82.454128  29.628915                 0        0       g                      None    Not Set
132188    132189  5000393955 -82.465606  29.629574                 0        0       g                      None    Not Set
132189    132190  5000395617 -82.493594  29.662131                 0        0       g                      None    Not Set
132190    132191  5000394611 -82.484172  29.662784                 0        0       g                      None    Not Set
132191    132192  5000395307 -82.334302  29.667683                 0        0       g                      None    Not Set
132192    132193  5000394427 -82.396971  29.731958                 0        0       g                      None    Not Set
132193    132194  5000393946 -82.396975  29.731992                 0        0       g                      None    Not Set
132194    132195  5000393682 -82.402069  29.730656                 0        0       g                      None    Not Set
132195    132196  5000393833 -82.353037  29.723369                 0        0       g                      None    Not Set
132196    132197  5000393827 -82.353054  29.723363                 0        0       g                      None    Not Set
132197    132198  5000395698 -82.385116  29.652487                 0        0       g                      None    Not Set
132198    132199  5000395515 -82.317673  29.661731                 0        0       g                      None    Not Set
132199    132200  5000395516 -82.289906  29.660114                 0        0       g                      None    Not Set
132200    132201  5000395256 -82.346933  29.618810                 0        0       g                      None    Not Set
132201    132202  5000393943 -82.349809  29.614598                 0        0       g                      None    Not Set
132202    132203  5000394253 -82.306142  29.681213                 0        0       g                      None    Not Set
132203    132204  5000394307 -82.470060  29.627978                 0        0       g                      None    Not Set
132204    132205  5000395287 -82.470022  29.627542                 0        0       g                      None    Not Set
132205    132206  5000101864 -82.432890  29.570642                 0        0       g                      None    Not Set
132206    132207  5000393980 -82.470559  29.628565                 0        0       g                      None    Not Set
132207    132208  5000395676 -82.368216  29.699801                 0        0       g                      None    Not Set
132208    132209  5000394377 -82.402075  29.730692                 0        0       g                      None    Not Set
132209    132210  5000393763 -82.398364  29.732241                 0        0       g                      None    Not Set
132210    132211  5000394787 -82.393835  29.626483                 0        0       g                      None    Not Set
132211    132212  5000395625 -82.415931  29.759569                 0        0       g                      None    Not Set
132212    132213  5000394571 -82.375410  29.626925                 0        0       g                      None    Not Set

[35836 rows x 9 columns]

In [42]:
df.ObjectID

0              1
1              2
2              3
3              4
4              5
5              6
6              7
7              8
8              9
9             10
10            11
11            12
12            13
13            14
14            15
15            16
16            17
17            18
18            19
19            20
20            21
21            22
22            23
23            24
24            25
25            26
26            27
27            28
28            29
29            30
           ...
203846    203847
203847    203848
203848    203849
203849    203850
203850    203851
203851    203852
203852    203853
203853    203854
203854    203855
203855    203856
203856    203857
203857    203858
203858    203859
203859    203860
203860    203861
203861    203862
203862    203863
203863    203864
203864    203865
203865    203866
203866    203867
203867    203868
203868    203869
203869    203870
203870    203871
203871    203872
203872    203873
203873    203874
203874    203875
203875    203876
Name: ObjectID, Length: 203876, dtype: int32

In [43]:
df = df.astype({'ObjectID':str}, copy=False)

In [44]:
df.ObjectID

0              1
1              2
2              3
3              4
4              5
5              6
6              7
7              8
8              9
9             10
10            11
11            12
12            13
13            14
14            15
15            16
16            17
17            18
18            19
19            20
20            21
21            22
22            23
23            24
24            25
25            26
26            27
27            28
28            29
29            30
           ...
203846    203847
203847    203848
203848    203849
203849    203850
203850    203851
203851    203852
203852    203853
203853    203854
203854    203855
203855    203856
203856    203857
203857    203858
203858    203859
203859    203860
203860    203861
203861    203862
203862    203863
203863    203864
203864    203865
203865    203866
203866    203867
203867    203868
203868    203869
203869    203870
203870    203871
203871    203872
203872    203873
203873    203874
203874    203875
203875    203876
Name: ObjectID, Length: 203876, dtype: object

In [45]:
df.ObjectID = np.where(df.Utility != 'e', df.Utility + df.ObjectID,df.ObjectID)

In [46]:
df.head()

  ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility               eTransformerBank_GLOBALID RegionName
0        1  5000226717 -82.255216  29.660429                 2      207       e  {7CCCBA17-54EF-42AA-9A87-02159ACDA324}       East
1        2  5000226733 -82.256019  29.659257                 2      207       e  {ADB0EEA9-99B5-476D-9F44-39730CB65611}       East
2        3  5000010807 -82.253436  29.659716                 2      207       e  {DFDB886D-DEB4-43BC-8C61-7DBD12C22C2F}       East
3        4  5000295952 -82.243694  29.702255                 2        0       e  {D90B530F-6540-4FDB-8B46-A8D7FA6797A9}       East
4        5  5000286178 -82.253930  29.676644                 2      434       e  {BBE0CC70-FE66-44B2-802F-EBE0A2E7B444}       East

In [47]:
df.tail()

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
203871  w203872  5000323217 -82.364258  29.646300                 0        0       w                      None    Not Set
203872  w203873  5000345778 -82.363735  29.649041                 0        0       w                      None    Not Set
203873  w203874  5000205415 -82.364758  29.656020                 0        0       w                      None    Not Set
203874  w203875  5000371121 -82.366248  29.654611                 0        0       w                      None    Not Set
203875  w203876  5000033678 -82.363783  29.653377                 0        0       w                      None    Not Set

In [48]:
df.loc[(df.Utility == 'w'), ["ObjectID","INSTALL_NUM","POINT_X","POINT_Y","PHASEDESIGNATION","FeederID","Utility","eTransformerBank_GLOBALID","RegionName"]]

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID Utility eTransformerBank_GLOBALID RegionName
133264  w133265  5000326532 -82.372671  29.692579                 0        0       w                      None    Not Set
133265  w133266  5000326490 -82.372725  29.692580                 0        0       w                      None    Not Set
133266  w133267  5000008681 -82.373142  29.692581                 0        0       w                      None    Not Set
133267  w133268  5000293743 -82.373197  29.692582                 0        0       w                      None    Not Set
133268  w133269  5000020548 -82.373414  29.692582                 0        0       w                      None    Not Set
133269  w133270  5000026101 -82.373774  29.692767                 0        0       w                      None    Not Set
133270  w133271  5000326329 -82.373794  29.692883                 0        0       w                      None    Not Set
133271  w133272  5000020484 -82.373892  29.693347                 0        0       w                      None    Not Set
133272  w133273  5000326285 -82.373947  29.693582                 0        0       w                      None    Not Set
133273  w133274  5000293711 -82.373943  29.693559                 0        0       w                      None    Not Set
133274  w133275  5000317959 -82.373968  29.693803                 0        0       w                      None    Not Set
133275  w133276  5000338836 -82.373966  29.694168                 0        0       w                      None    Not Set
133276  w133277  5000315429 -82.373964  29.694373                 0        0       w                      None    Not Set
133277  w133278  5000315592 -82.373964  29.694428                 0        0       w                      None    Not Set
133278  w133279  5000319932 -82.373312  29.692734                 0        0       w                      None    Not Set
133279  w133280  5000320022 -82.373648  29.693144                 0        0       w                      None    Not Set
133280  w133281  5000317998 -82.373660  29.693192                 0        0       w                      None    Not Set
133281  w133282  5000289848 -82.373768  29.693570                 0        0       w                      None    Not Set
133282  w133283  5000330251 -82.373772  29.693592                 0        0       w                      None    Not Set
133283  w133284  5000326616 -82.373792  29.693969                 0        0       w                      None    Not Set
133284  w133285  5000001724 -82.373790  29.694016                 0        0       w                      None    Not Set
133285  w133286  5000001755 -82.373788  29.694385                 0        0       w                      None    Not Set
133286  w133287  5000006267 -82.373788  29.694587                 0        0       w                      None    Not Set
133287  w133288  5000335319 -82.373788  29.694635                 0        0       w                      None    Not Set
133288  w133289  5000288723 -82.373173  29.694811                 0        0       w                      None    Not Set
133289  w133290  5000293992 -82.373000  29.694632                 0        0       w                      None    Not Set
133290  w133291  5000293779 -82.372999  29.694584                 0        0       w                      None    Not Set
133291  w133292  5000006314 -82.373177  29.694461                 0        0       w                      None    Not Set
133292  w133293  5000332131 -82.373178  29.694385                 0        0       w                      None    Not Set
133293  w133294  5000006400 -82.373058  29.694008                 0        0       w                      None    Not Set
...         ...         ...        ...        ...               ...      ...     ...                       ...        ...
203846  w203847  5000395509 -82.441846  29.593465                 0        0       w                      None    Not Set
203847  w203848  5000393371 -82.441459  29.593658                 0        0       w                      None    Not Set
203848  w203849  5000210454 -82.431243  29.591686                 0        0       w                      None    Not Set
203849  w203850  5000394264 -82.487603  29.679753                 0        0       w                      None    Not Set
203850  w203851  5000327941 -82.432727  29.665851                 0        0       w                      None    Not Set
203851  w203852  5000316572 -82.432727  29.665851                 0        0       w                      None    Not Set
203852  w203853  5000023211 -82.411468  29.663720                 0        0       w                      None    Not Set
203853  w203854  5000049779 -82.423833  29.653221                 0        0       w                      None    Not Set
203854  w203855  5000022924 -82.414032  29.659818                 0        0       w                      None    Not Set
203855  w203856  5000391916 -82.339744  29.653341                 0        0       w                      None    Not Set
203856  w203857  5000391967 -82.339744  29.653341                 0        0       w                      None    Not Set
203857  w203858  5000391961 -82.339744  29.653341                 0        0       w                      None    Not Set
203858  w203859  5000391895 -82.339744  29.653341                 0        0       w                      None    Not Set
203859  w203860  5000390970 -82.339744  29.653341                 0        0       w                      None    Not Set
203860  w203861  5000391441 -82.339744  29.653341                 0        0       w                      None    Not Set
203861  w203862  5000175578 -82.354600  29.658549                 0        0       w                      None    Not Set
203862  w203863  5000029916 -82.358335  29.693703                 0        0       w                      None    Not Set
203863  w203864  5000392692 -82.345306  29.690916                 0        0       w                      None    Not Set
203864  w203865  5000280870 -82.336743  29.688248                 0        0       w                      None    Not Set
203865  w203866  5000192706 -82.339795  29.686200                 0        0       w                      None    Not Set
203866  w203867  5000210543 -82.348558  29.677990                 0        0       w                      None    Not Set
203867  w203868  5000210567 -82.348558  29.677990                 0        0       w                      None    Not Set
203868  w203869  5000244519 -82.358708  29.687036                 0        0       w                      None    Not Set
203869  w203870  5000301174 -82.359213  29.686648                 0        0       w                      None    Not Set
203870  w203871  5000025835 -82.417856  29.662165                 0        0       w                      None    Not Set
203871  w203872  5000323217 -82.364258  29.646300                 0        0       w                      None    Not Set
203872  w203873  5000345778 -82.363735  29.649041                 0        0       w                      None    Not Set
203873  w203874  5000205415 -82.364758  29.656020                 0        0       w                      None    Not Set
203874  w203875  5000371121 -82.366248  29.654611                 0        0       w                      None    Not Set
203875  w203876  5000033678 -82.363783  29.653377                 0        0       w                      None    Not Set

[70587 rows x 9 columns]

In [49]:
#df = df.astype({'INSTALL_NUM':str}, copy=True)
df2 = df.astype(str, copy=True)
df2.INSTALL_NUM

0         5000226717
1         5000226733
2         5000010807
3         5000295952
4         5000286178
5         5000286147
6         5000189486
7         5000286162
8         5000286397
9         5000136846
10        5000286247
11        5000286142
12        5000286131
13        5000279563
14        5000286289
15        5000286194
16        5000286269
17        5000286056
18        5000286253
19        5000286114
20        5000136486
21        5000136481
22        5000286137
23        5000297917
24        5000297799
25        5000277748
26        5000297945
27        5000297943
28        5000279505
29        5000279471
             ...
203846    5000395509
203847    5000393371
203848    5000210454
203849    5000394264
203850    5000327941
203851    5000316572
203852    5000023211
203853    5000049779
203854    5000022924
203855    5000391916
203856    5000391967
203857    5000391961
203858    5000391895
203859    5000390970
203860    5000391441
203861    5000175578
203862    5000029916
203863    5000392692
203864    5000280870
203865    5000192706
203866    5000210543
203867    5000210567
203868    5000244519
203869    5000301174
203870    5000025835
203871    5000323217
203872    5000345778
203873    5000205415
203874    5000371121
203875    5000033678
Name: INSTALL_NUM, Length: 203876, dtype: object

#df.groupby(df.columns.tolist(),as_index=False).size()
grouped = df.groupby('Utility')
for name,group in grouped:
    print(name)
    #print(group)
    #df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1).drop_duplicates(subset='INSTALL_NUM')
    #df2.groupby(['INSTALL_NUM', 'Utility']).filter(lambda x: x if len(x) > 1 and 'Utility' == name else None)
    #print(df.groupby('INSTALL_NUM').filter(lambda x: x if len(x) > 1 and 'Utility' == name else None))
    #print(df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1 and 'Utility' == name))
    print(df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1)).drop_duplicates(subset='INSTALL_NUM')

In [50]:
df.drop_duplicates(subset='INSTALL_NUM', keep='first', inplace=True)

In [51]:
df.groupby('INSTALL_NUM').filter(lambda x: len(x) > 1)

Empty DataFrame
Columns: [ObjectID, INSTALL_NUM, POINT_X, POINT_Y, PHASEDESIGNATION, FeederID, Utility, eTransformerBank_GLOBALID, RegionName]
Index: []

In [52]:
df.groupby(['INSTALL_NUM']).size().reset_index(name='count')

                 INSTALL_NUM  count
0                 5000001182      1
1                 5000001183      1
2                 5000001185      1
3                 5000001187      1
4                 5000001189      1
5                 5000001193      1
6                 5000001194      1
7                 5000001197      1
8                 5000001198      1
9                 5000001199      1
10                5000001200      1
11                5000001201      1
12                5000001202      1
13                5000001203      1
14                5000001207      1
15                5000001214      1
16                5000001216      1
17                5000001217      1
18                5000001218      1
19                5000001219      1
20                5000001220      1
21                5000001224      1
22                5000001225      1
23                5000001226      1
24                5000001229      1
25                5000001231      1
26                5000001232      1
27                5000001233      1
28                5000001235      1
29                5000001237      1
...                      ...    ...
203385            5000397329      1
203386            5000397345      1
203387            5000397349      1
203388            5000397415      1
203389            5000397449      1
203390            5000397462      1
203391            5000397480      1
203392            5000397505      1
203393            5000397561      1
203394            5000397584      1
203395            5000397620      1
203396            5000397768      1
203397            5000397813      1
203398            5000397815      1
203399            5000397817      1
203400            5000397844      1
203401            5000397879      1
203402            5000397882      1
203403            5000397966      1
203404            5000398007      1
203405            5000398071      1
203406            5000398155      1
203407            5000398180      1
203408             500075058      1
203409                  None      1
203410        Office 5001/07      1
203411  Park Garage FirePump      1
203412        Parking Garage      1
203413             W79353120      1
203414             w71828835      1

[203415 rows x 2 columns]

In [53]:
df.drop(['Utility'], axis=1, inplace=True)

In [54]:
df.tail()

       ObjectID INSTALL_NUM    POINT_X    POINT_Y  PHASEDESIGNATION FeederID eTransformerBank_GLOBALID RegionName
203871  w203872  5000323217 -82.364258  29.646300                 0        0                      None    Not Set
203872  w203873  5000345778 -82.363735  29.649041                 0        0                      None    Not Set
203873  w203874  5000205415 -82.364758  29.656020                 0        0                      None    Not Set
203874  w203875  5000371121 -82.366248  29.654611                 0        0                      None    Not Set
203875  w203876  5000033678 -82.363783  29.653377                 0        0                      None    Not Set

In [55]:
df.to_csv(custAcctFile,header=False, index=True)

[```gis.features.SpatialDataFrame()```](https://esri.github.io/arcgis-python-api/apidoc/html/arcgis.features.toc.html?highlight=spatialdataframe#arcgis.features.SpatialDataFrame.from_xy)

In [ ]:
from arcgis.features import SpatialDataFrame
from arcgis.gis import GIS
from getpass import getpass
from IPython.display import display

In [ ]:
sdf = SpatialDataFrame.from_xy(df,"POINT_X","POINT_Y")
gis = GIS(arcpy.GetActivePortalURL(), username=input("Enter User Name "), password=(getpass()))
#gis = GIS()
#portalDesc = arcpy.GetPortalDescription()
# search and list all items owned by connected user
#query=f'owner:{portalDesc["user"]["username"]} AND title:CW BaseMap'
#itemType="Feature Layer"
#sortField="title"
#sortOrder="asc"
# default max__items is 10
#maxItems=100
#m = gis.content.search(query,itemType,sortField,sortOrder,maxItems)

In [ ]:
consumptionLyr = gis.content.import_data(sdf)

In [ ]:
m = gis.map('Gainesville,FL')

In [ ]:
m.add_layer(sdf,options={"renderer":"ClassedSizeRenderer","field_name":"MAXCONSUMPTION"})

In [ ]:
m.add_layer(consumptionLyr,options={"renderer":"ClassedSizeRenderer","field_name":"MAXCONSUMPTION"})

In [ ]:
m